#game {
    display: flex;
    flex-direction: column;
}

.board_display {
    min-height: 330px;
    aspect-ratio: 32 / 44;
}

#board_wrapper {
    position: relative;
    height: 80%;
}

#board, #overlays {
    position: absolute;
    height: 100%;
    
    top: 0px; 
    left: 0px;
}

#board {
    background-image: url(./../backgrounds/board_background.png);
    background-size: cover;

    z-index: 0;
}

#overlays {
    z-index: 1;
}