.grid {
    border-collapse: collapse;
    height: 70vh;
    max-height: 700px;
    min-height: 350px;
    aspect-ratio: 5 / 7;
}

.tile {
    height: calc(100% / 7);
    width: 20%;
    border: 1px solid gray;
    aspect-ratio: 1 / 1;
    background-size: 100%;
}

.tile.dark {
    background-color: darkred
}

.tile.light {
    background-color:white;
}

.conq, .dame, .nite {
    text-align: center;
}

.red.conq { background-image: url(../icons/red\ conq.png); }
.red.dame { background-image: url(../icons/red\ dame.png); }
.red.nite { background-image: url(../icons/red\ nite.png); }
.white.conq { background-image: url(../icons/white\ conq.png); }
.white.dame { background-image: url(../icons/white\ dame.png); }
.white.nite { background-image: url(../icons/white\ nite.png); }

.overlay {
    width: 100%;
    height: 100%;
}

.clicked {
    background: green;
    opacity: 75%;
}

.moveable {
    background: gray;
    opacity: 75%;
}

.finished {
    background: gold;
    opacity: 50%;
}